<strong>Olá {{student}}</strong>
<p>Parabéns sua matrícula foi aprovada!</p>
<p>
  <strong>Plano: </strong> {{title}} <br />
  <strong>Duração de: </strong> {{duration}} meses <br />
  <strong>Começando: </strong> {{dateStart}} <br />
  <strong>Encerra: </strong> {{dateEnd}} <br />
  <strong>No valor de: </strong> R$ {{price}} <br />
  <br />
  <p>{{student}}, estamos prontos para te receber.</p>
  <small>
    obs.: Antes do encerramento te avisaremos, para fazer a renovação!
  </small>
</p>
